<div class="overview-list">
    <div class="form-inline content-div filter-container">
        <input class="form-control" type="text" placeholder="Type to find..." (keyup)="filter()" [(ngModel)]="filterCriteria">
        <button class="btn btn-default clear-btn" (click)="clearFilter()">Clear Filter</button>
    </div>
    <div class="list content-div">
        <ul>
            <li *ngFor="#list of previewLists">
                <a [routerLink]="['List', {id: list.id}]">{{list.id}}. {{list.name}}</a>
                <button type="button" class="close" aria-label="Close" (click)="remove(list)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        </ul>
    </div>
    <div class="form-inline content-div add-container">
        <input class="form-control" type="text" placeholder="Name of the list" [(ngModel)]="newName">
        <button class="btn btn-primary add-btn" (click)="save()">Add List</button>
    </div>
</div>